<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="suite" parallel="false" preserve-order="true">

<listeners>
             <listener class-name="com.droom.automation.lib.MyAnnotationTransformer"/>
</listeners>

    <test name="DroomWebAutomationTest">
        <classes>
             <class name="com.droom.automation.droomweb.droomweb_prod.UserLoginTest" />
              <class name="com.droom.automation.droomweb.droomweb_prod.BuyGermShieldServiceTest" />
               <class name="com.droom.automation.droomweb.droomweb_prod.BuyFeatureTest" />
        </classes>
    </test>
</suite>